* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Preto: #0242424
Amarelo: #FCA60F
Marrom: #C95E20
*/
header {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #858585;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 10px;
  list-style: none;
  padding: 0 40px;
}

.navbar ul li a {
  color: #242424;
  text-decoration: none;
}

main {
  background-image: url("./assets/forma1.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 100vh;
}

.contact {
  max-width: 500px;
  margin: 150px;
  font-size: 1em;
  line-height: 1.6;
  color: #242424;
  font-weight: 600;
}

.order {
  background-color: #fca60f;
  color: #fff;
  font-size: 1.2em;
  width: 60%;
  padding: 10px 40px;
  margin: 20px auto;
  border-radius: 5px;
  border: hidden;
  cursor: pointer;
}

.redes {
  margin: 10px;
}

.coffee-img {
  margin-right: 100px;
}

.redes img {
  margin: 10px;
}

.scroll-icon {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
}
